@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #F0F0F0;
    --accent-color: #0D1815;
    --light-background-color: #FFFFFF;
    --light-accent-color: #0D1815;
    --scrollbar-thumb-color: #CCCCCC;
    --scrollbar-thumb-hover-color: #A3A3A3;
    --border-bottom-color: #CCCCCC;
    --overview-bg-color: #FFFFFF;
    --tag-hover-color: #E0E0E0;
    --pagination-bg-color: #F0F0F0;
    --pagination-bg-color2: #F0F0F0;
    --know-more-bg-color: #334A44;
    --overlay-bg-color: rgba(255, 255, 255, 0.9);
    --overlay-link-color: #0D1815;
    --overlay-link-hover-color: #334A44;
    --over-view-font: #0D1815;
    --font-color: #000;
    --box-shadow-default: 0 4px 8px rgba(0, 0, 0, 0.1);
    --box-shadow-hover: 2px 2px 8px 2px rgba(0, 0, 0, 0.1);
    --box-shadow-card:2px 2px 8px 2px rgba(0, 0, 0, 0.07);
    --box-shadow-song: 1px 1px 8px 1px rgba(0, 0, 0, 0.05);
    --box-shadow-search:2px 2px 5px 2px rgba(48, 48, 48, 0.2);
}

:root.darkTheme {
    --primary-color: #1E1E1E;
    --secondary-color: #121212;
    --accent-color: #FFFFFF;
    --light-background-color: #000000;
    --light-accent-color: #FFFFFF;
    --scrollbar-thumb-color: var(--accent-color);
    --scrollbar-thumb-hover-color: #A3A3A3;
    --border-bottom-color: #242424;
    --overview-bg-color: var(--light-background-color);
    --tag-hover-color: #2D2D2D;
    --pagination-bg-color: var(--secondary-color);
    --pagination-bg-color2: var(--primary-color);
    --know-more-bg-color: var(--secondary-color);
    --overlay-bg-color: rgba(0, 0, 0, 0.9);
    --overlay-link-color: #A3A3A3;
    --overlay-link-hover-color: #FFFFFF;
    --over-view-font: #FFFF;
    --font-color: #eee;
    --box-shadow-default: 0 4px 8px rgba(101, 101, 101, 0.1);
    --box-shadow-hover: 2px 2px 8px 2px rgba(101, 101, 101, 0.1);
    --box-shadow-card:2px 2px 8px 2px rgba(101, 101, 101, 0.03);
    --box-shadow-song: 1px 1px 8px 1px rgba(101, 101, 101, 0.05);
    --box-shadow-search:2px 2px 5px 2px rgba(101, 101, 101, 0.2);
}

* {
    padding: 0;
    margin: 0;
    font-family: "Caveat", cursive;
    box-sizing: border-box;
}

body {
    background-color: var(--light-background-color);
    color: var(--font-color);
    overflow: hidden;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 98vh;
    padding-top: 12px;
}

.secMid {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.secLast {
    display: flex;
    flex-direction: column;
    width: 23.5%;
    align-items: flex-end;
    height: 100%;
}

.player {
    height: 18%;
}

.playerContainer {
    width: 100%;
    align-self: flex-end;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.playerContent {
    background-color: var(--pagination-bg-color);
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-radius: 8px;
    box-shadow: var(--box-shadow-default);
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    margin: 10px 0;
}

/* Track Styles */
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: var(--border-bottom-color);
    border-radius: 5px;
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: var(--border-bottom-color);
    border-radius: 5px;
}

input[type="range"]::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: var(--accent-color);
}

input[type="range"]::-ms-fill-lower {
    background: var(--accent-color);
    border-radius: 5px;
}

input[type="range"]::-ms-fill-upper {
    background: var(--accent-color);
    border-radius: 5px;
}

/* Thumb Styles */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--accent-color);
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    margin-top: -6px;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--accent-color);
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

input[type="range"]::-ms-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--accent-color);
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

input[type="range"]:hover::-webkit-slider-thumb,
input[type="range"]:hover::-moz-range-thumb,
input[type="range"]:hover::-ms-thumb {
    animation: thumbPulse 0.8s infinite alternate;
}

/* Define the thumbPulse animation */
@keyframes thumbPulse {
    0% {
        transform: scale(1);
        background: var(--accent-color);
    }
    100% {
        transform: scale(1.2);
        background: var(--overlay-link-hover-color);
    }
}

.Btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
}

#next, #prev {
    cursor: pointer;
    background: none;
    width: 20px;
    border: none;
}

#playButton {
    cursor: pointer;
    background: none;
    width: 35px;
    border: none;
}

#next img, #prev img, #playButton img {
    width: 100%;
    height: 100%;
}

#progressBar {
    width: 100%;
}

.progress {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
    position: relative;
}

#repeatAll, #listQueue, #favList {
    width: 25px;
    height: 25px;
    background: none;
    border: none;
    position: absolute;
    right: -8%;
    top: 0;
    cursor: pointer;
    border-radius: 5px;
}

#listQueue img, #favList img {
    width: 100%;
}

#listQueue {
    background: none;
    border: none;
    position: absolute;
    right: -16%;
    top: 0;
    cursor: pointer;
    border-radius: 5px;
    padding-top: 2px;
    display: none;
}

#favList {
    padding-top: 4px;
    left: -10%;
    top: -3px;
    display: none;
}

#repeatAll:hover, #favList:hover, #listQueue:hover {

    transform: scale(1.15);
    transition: all 200ms ease-in-out;
}

#repeatAll img {
    position: relative;
    top: 2px;
}

.iconhov:hover {
    transform: scale(1.15);
    transition: all 200ms ease-in-out;
}

.overflowp {
    overflow: hidden;
    overflow-y: auto;
}

.duration {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: grey;
    font-size: 12px;
}

.mainSec {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5%;
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    min-height: 75%;
    max-height: 80%;
    background-color: var(--pagination-bg-color);
    border-radius: 15px;
    padding: 10px;
    padding-top: 15px;
    box-shadow: var(--box-shadow-hover);
}

.card {
    width: 170px;
    margin-bottom:1px ;
    background-color: var(--pagination-bg-color2);
    cursor: pointer;
    border-radius: 5px;
    height: 250px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    box-shadow: var(--box-shadow-card);
}

.card:hover {
    transform: scale(1.05);
    transition: all 200ms ease;
    box-shadow: var(--box-shadow-default);
}

.card img {
    width: 100%;
    height: 70%;
    border-radius: 5px;
}

.card p {
    padding-left: 10px;
    font-weight: 900;
}

.cardName {
    font-size: 1.1rem;
}
.cardBtns{
    width: 20%;
}

.art {
    padding-bottom: 5px;
    color: #6b6b6b;
    font-size: 0.8rem;
}

.fontDiv {
    width: 70%;
}

.favCard,.listCard {
    width: 35px;
    background: none;
    border: none;
    padding-right: 10px;
    cursor: pointer;
}

.favCard:hover {
    transform: scale(1.2);
    transition: all 200ms ease-in-out;
    
}

.search {
    width: 100%;
    height: 10vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--pagination-bg-color);
    border-radius: 10px;
    padding-bottom: 5px;
    z-index: 10;
    display: flex;
    justify-content: space-evenly;
    box-shadow: var(--box-shadow-default);
}

.playlist {
    margin-top: 10px;
    width: 100%;
    height: calc(100% - 11vh);
    overflow-x: hidden;
    position: relative;
    background-color: var(--pagination-bg-color);
    border-radius: 10px;
    padding-bottom: 5px;
    z-index: 10;
    box-shadow: var(--box-shadow-default);
}

.psong, .fsong {
    margin-top: 5px;
    margin-left: 5px;
    width: 97%;
    height: 70px;
    display: flex;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    padding: 10px;
    box-shadow:var(--box-shadow-song) ;
}

.psong:hover, .fsong:hover {
    background-color: var(--tag-hover-color);
    transition: all 500ms ease-in-out;
}

.psong img, .fsong img {
    height: 100%;
    border-radius: 5px;
}

.psong p, .fsong p {
    font-weight: 700;
    font-size: 1.1rem;
    padding-top: 2px;
    padding-left: 10px;
}

.psong button, .fsong button {
    justify-self: end;
    position: absolute;
    right: 20px;
    bottom: 50%;
    transform: translate(50%, 50%);
    background: none;
    border: none;
    cursor: pointer;
}

.artist {
    color: #6b6b6b;
    font-size: 0.8rem;
    display: block;
    position: relative;
}

.fav {
    width: 23.5%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--pagination-bg-color);
    left: 0;
    border-radius: 10px;
    padding-bottom: 5px;
    z-index: 10;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.closeBtn {
    display: none;
}

.searchform {
    width: 80%;
    height: 100%;
    padding-top: 5px;
    position: relative;
    display: flex;
    align-items: center;
}

#searchinput {
    width: 100%;
    height: 44px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 50px;
    border: none;
    outline: none;
    box-shadow: var(--box-shadow-search);
    font-size: 1rem;
    justify-self: start;
    margin-left: 10px;
}

#searchBtn {
    position: absolute;
    right: 5px;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

#theme {
    background: none;
    border: none;
    width: 35px;
    cursor: pointer;
}

#theme img {
    width: 100%;
    position: relative;
    top: 2px;
}

.playing {
    background-color: var(--tag-hover-color);
}

.favallBtn,
.clearBtn {
    position: absolute;
    right: 25px;
    top: 15px;
    background: none;
    border: none;
    cursor: pointer;
    width: 30px;
}

.favallBtn img {
    width: 100%;
}

/* ::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--pagination-bg-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-color);
} */

::-webkit-scrollbar {
    display: none;
}

/* Responsive Styles */
@media (max-width: 1050px) {
    main,body{
        padding: 0%;
        margin: 0%;
        box-sizing: border-box;
        width: 100vw;
        height: 100vh;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    .secLast {
        
        width: 100%;
        position: absolute;
        z-index: 1;
    }

    .secMid {
        justify-self: center;
        height: calc(100% - 12vh);
        width: 100%;
        align-self: flex-end;
        z-index: 2;
        padding-right: 3px;
    }

    .mainSec {
        height: 70%;
    }

    .player {
        height: 23%;
    }

    .card {
        width: 170px;
    }

    .favallBtn,
    .clearBtn {
        right: 55px;
    }

    #listQueue, #favList {
        display:inline-block;
    }

    .closeBtn {
        display: block;
        position: absolute;
        right: 25px;
        top: 18px;
        background: none;
        border: none;
        cursor: pointer;
        width: 30px;
    }

    .fav,.playlist {
        width: 0; 
        position: absolute;
        left: 0;
        
    }
    .favAppear{
        width:100%;
        height: 66%;
        align-self: start;
        position: absolute;
        top:12vh;
        transition: all 500ms ease-in-out;
        
    }
    .Appear{
        width: 100% !important;
        transition: all 500ms ease-in-out;
        top:10.4vh;
    }
    .secapp{
        z-index: 10 !important;
        height: 77.5%;
        top: 0;
    }
}


@media screen and (max-width: 600px) {
    main{
        position: absolute;
        top: 0;
        
    }
    #listQueue{
        position: absolute;
        top: 55px;
        right:5px;

    }
    #repeatAll{

        right: 40px;
        top:55px;

    }
    #favList {
        left:20px;
        top:54px;
    }
    .Btns{
        justify-content: space-evenly;
        padding-inline: 40px;
    }
}

@media screen and (max-width: 550px){
    .secMid {
        justify-self: center;
        height: calc(100% - 12vh);
        width: 100%;
        z-index: 2;
        align-items: normal;
        padding-right: 3px;
        position: absolute;
        top:12vh;
    }

    .mainSec {
        height: 70%;
    }

    .player {
        height: 15%;
        position: relative;
        bottom: 65px;
    }
.card{
    width: 157px;

}
}
@media screen and (max-width: 350px){
.card{
    width: 150px;

}
}
